.ds-wg-calendar{
    flex:1;
}

.month, .weekdays, .days{
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}

.month li, .weekdays li, .days li{
    flex: 1;
    padding: 5px;
    text-align: center;
}

.month{
    
}

.month li:first-child{
    cursor: pointer;
    text-align: left;
}

.month li:last-child{
    cursor: pointer;
    text-align: right;
}

.weekdays{
    background: #cacaca;
}

.weekdays li:nth-child(6), .weekdays li:last-child{
    font-weight: bold;
    color: #20AAEA;
}

.days li span{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    line-height: 45px;
    border-radius: 100000px;
    cursor: pointer;
}

.days li span:active,.days li span:hover, .days li .active{
    background: #20AAEA;
    color: #fff;
}