@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

html,body{
    padding: 0px;
    margin: 0px;
    font-family: 'Didact Gothic', sans-serif;
    font-size:20px;
    overflow-x:hidden;
    overflow-y: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*{
    padding: 0px;
    margin: 0px;
    clear: both;
    outline: none;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.5s ease;
}

/*Main Styles*/

.ds-main-container{
    position: absolute;
    width:100%;
    min-height: 100vh;
    background: #F0F5F9;
}

.ds-side-menu{
    position: absolute;
    width: 40px;
    height: 100%;
    left: 0px;
    background: #252D3A;
    overflow: hidden;
}

.ds-side-menu-logo{
    width: 100%;
    height: 40px;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    line-height: 40px;
    margin-top: 10px;
}

.ds-side-menu-navigation{
    margin-top: 20px;
    flex:1;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ds-side-menu-navigation>div{
    flex: 1;
    height: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    border-bottom: 1px solid #fff;
    display: flex;
}

.ds-side-menu-navigation>div:last-child{
    border-bottom: none;
}

.ds-side-menu-navigation>div:hover{
    background:#5492DE;
}

.menu-open{
    width: 200px;
}

.ds-side-menu-navigation-icon{
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.ds-side-menu-navigation-label{
    height: 40px;
    text-align: left;
    line-height: 40px;
    font-size: 0.8em;
}
